:root {
    --gray-font-color: #59636e;
    --gray-line-color: #dfe4e9;
    /* Border colors: Quote, Table, etc. */
    --border-basic-color: #d1d9e0;
    --light-gray-basic: #f6f8fa;
    --medium-gray-basic: #b6b8ba;
    /* Horizontal line color */
    --hr-color: #d1d9e0;
    /* Link colors */
    --link-color: #0969da;
    --link-visited-color: #b3007a;
    /* Code styles */
    --code-font-size: small;
    --code-monospace-font: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    --code-background-color: #f0f1f2;
    --codeblock-face-color: #1f2328;
    --codeblock-background-color: #f6f8fa;
    /* Table colors */
    --table-background-color: #f6f8fa;
    /* Alert/Admonition colors */
    --admonition-color: #d1d9e0;
    --caution-color: #cf222e;
    --important-color: #8250df;
    --note-color: #0959da;
    --tip-color: #1a7f37;
    --warning-color: #9a6700;
}

body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.5;
    margin: 0 auto;
    max-width: 60em;
    padding: 50px;
    word-wrap: break-word;
}

body> :last-child {
    margin-bottom: 0;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    padding-bottom: 0.3em;
    font-weight: 600;
    /* semi-bold */
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.25;
}

h1 {
    font-size: 2em;
    border-bottom: 1px solid var(--gray-line-color);
}

h2 {
    font-size: 1.5em;
    border-bottom: 1px solid var(--gray-line-color);
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.875em;
}

h6 {
    font-size: 0.85em;
}

/* Links & Footnotes */
a {
    color: var(--note-color);
    text-decoration: underline;
}

a:visited {
    color: var(--link-visited-color);
}

a.footnote-ref {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

a.footnote-ref sup {
    margin-left: 0.2em;
    font-size: 75%;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}

a.footnote-ref sup::before {
    content: "[";
}

a.footnote-ref sup::after {
    content: "]";
}

section.footnotes {
    font-size: small;
    color: var(--gray-font-color);
}

section.footnotes>hr:first-child {
    height: 1px;
    color: var(--border-basic-color);
}

/* Quote & Code */
blockquote {
    color: var(--gray-font-color);
    border-left: 0.25em solid var(--border-basic-color);
    padding: 0 1em;
    margin: 0 0.5em;
    margin-bottom: 1rem;
}

code {
    background-color: var(--code-background-color);
    font-size: var(--code-font-size);
    font-family: var(--code-monospace-font);
    white-space: break-spaces;
    margin: 0;
    padding: 0.2em 0.4em;
    border-radius: 6px;
}

div.sourceCode {
    background-color: var(--codeblock-background-color);
    overflow: auto;
}

code.sourceCode,
pre code {
    background-color: var(--codeblock-background-color);
    color: var(--codeblock-face-color);
    padding: 0;
}

pre {
    color: var(--codeblock-face-color);
    background-color: var(--codeblock-background-color);
    overflow: auto;
    font-size: var(--code-font-size);
    font-family: var(--code-monospace-font);
    line-height: 1.45;
    word-break: normal;
    word-wrap: normal;
    min-height: 52px;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    border-radius: 6px;
}

/* Images */
:is(img, svg) {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

/* Tables */
table {
    max-width: 100%;
    width: max-content;
    overflow: auto;
    display: block;
    border-collapse: collapse;
}


table th,
table td {
    padding: 6px 13px;
    border: 1px solid var(--border-basic-color)
}

table th {
    font-weight: 600;
    /* semi-bold */
}

table tr {
    background-color: inherit;
}

table tr:nth-child(2n) {
    background-color: var(--table-background-color);
}

/* Paragraphs, Horizontal lines & Lists */
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

hr {
    height: 0.25em;
    padding: 0;
    margin: 1.5rem 0;
    background: transparent;
    background-color: var(--hr-color);
    border: none;
    overflow: hidden;
}

ul,
ol {
    padding-left: 2em;
    padding-right: 0;
    padding-inline-start: 2em;
    padding-inline-end: 0;
    margin-top: 0;
    margin-bottom: 1rem;
}

ul ul,
ol ol {
    margin-bottom: 0;
}

:is(ul, ol) li {
    margin-top: 0.25em;
}

:is(ul, ol) :is(ul, ol) {
    margin: 0;
    margin-top: 0.25em;
}

/* Collapse (Summary & Details)*/
details {
    display: block;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 1rem;
    border-left: 0.25rem solid var(--admonition-color);
    padding-left: 0.5rem;
}

details summary {
    width: fit-content;
    padding: 0.25em;
    padding-left: 0.5em;
    border-radius: 3px;
}

details summary:hover,
details[open] summary {
    background-color: var(--medium-gray-basic);
    cursor: pointer;
}

/* Alert (Admonition) */
div.caution,
div.important,
div.note,
div.tip,
div.warning {
    color: inherit;
    border-left: 0.25rem solid var(--admonition-color);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

:is(div.caution,
    div.important,
    div.note,
    div.tip,
    div.warning) .title {
    display: flex;
    font-weight: 500;
    line-height: 1;
    align-items: center;
    font-size: large;
}

:is(div.caution,
    div.important,
    div.note,
    div.tip,
    div.warning) .title p:first-child::before {
    margin-right: 0.5rem;
}

:is(div.caution,
    div.important,
    div.note,
    div.tip,
    div.warning)> :last-child {
    margin-bottom: 0;
}

div.caution {
    border-left-color: var(--caution-color);
}

div.caution .title {
    color: var(--caution-color);
}

div.caution .title p:first-child::before {
    /* ❗ Exclamation Mark */
    content: "\0021";
}

div.important {
    border-left-color: var(--important-color);
}

div.important .title {
    color: var(--important-color);
}

div.important .title p:first-child::before {
    /* ⚑ Black Flag */
    content: "\2691";
}

div.note {
    border-left-color: var(--note-color);
}

div.note .title {
    color: var(--note-color);
}

div.note .title p:first-child::before {
    /* ⓘ Circle Small Letter */
    content: "\24D8";
}

div.tip {
    border-left-color: var(--tip-color);
}

div.tip .title {
    color: var(--tip-color);
}

div.tip .title p:first-child::before {
    /* 💡 Electric Light Bulb */
    content: "\1F4A1";
}

div.warning {
    border-left-color: var(--warning-color);
}

div.warning .title {
    color: var(--warning-color);
}

div.warning .title p:first-child::before {
    /* ⚠ Warning Sign */
    content: "\26A0";
}